
.search-bar {
    width: 100%;
    background-color: #fff1;
    height: 3rem;
    border-radius: 9999px;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    color: #fff9;
}

.search-bar:focus{
    border: none;
}
