:root {
    /* SEE PRIMITIVES.CSS */
    /* === Dark Theme Semantic === */ 

    --text: #fffb;

    --color-primary: #ce4b49;
    --color-primary-hover: #d45654;
    --color-on-primary: #fff;
  
    --color-secondary: #ffc8159d;
    --color-secondary-alt: #ffc81569;
    --color-secondary-hover: var(--color-green-100);
    --color-on-secondary: var(--color-green-600);
  
    --color-neutral: #aaaaaa;
    --color-success: #31b117;
    --color-warning: #ffbb00;
    --color-danger: #e90549;
    --color-info: var(--color-info-500);
  
    --color-on-neutral: var(--color-gray-900);
    --color-on-success: var(--color-success-500);
    --color-on-warning: var(--color-warning-500);
    --color-on-danger: var(--color-danger-500);
    --color-on-info: var(--color-info-500);
  
    --color-surface: #1e1e2b;
    --color-surface-stackable: #2a2a3b5e;
    --color-on-surface: white;
  
    --color-surface-alt: var(--color-gray-100);
    --color-on-surface-alt: var(--color-gray-800);
  
    --color-surface-hover: var(--color-gray-200);
    --color-on-surface-hover: var(--color-gray-700);
    
    --color-overlay: rgba(0,0,0,0.04);
   
    --color-border: #0002;
    --color-border-strong: #0003;
    --color-divider: var(--color-gray-200);
    
    --color-focus-ring: var(--color-green-400);
    --color-selection: var(--color-blue-100);

    --color-background: #171720;
  
    /* Backwards compatibility patches */
    --color-text-primary: var(--color-gray-900);
    --color-text-secondary: var(--color-gray-600);
    --color-text-disabled: var(--color-gray-400);
    --color-text-on-primary: #ffffff;
    --color-text-on-secondary: #ffffff;
    --color-text-on-danger: #ffffff;
  }