
.container{
    border-radius: 10px;
    border: 1px solid #9b6f0f;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 0 3px 3px #0002;
    background-color: #9c6b0069;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 5px;
}

.container:before {
 content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    transparent 30%,
    rgba(255, 255, 255, 0.6) 50%,
    transparent 70%
  );
  transform: translateX(-100%);
  transition: transform 0.6s ease;
}

.container:hover::before {
  transform: translateX(100%);
}

.content {
    width: calc(100% - 3rem);
    transition: 0.2s;
}

.container:hover .content{
    width: calc(100% - 6rem);
}

.progressbar{
    transition: 1s ease;
    width: 0%;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    background-color: #9c6b00;
}